	<!--================Single Product Area =================-->
	{{!-- <div class="product_image_area section-padding">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="s_product_img">
						<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img class="d-block w-100" src="/USERS/img/product/single-product/s-product-1.jpg" alt="First slide">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>Faded SkyBlu Denim Jeans</h3>
						<h2>$149.99</h2>
						<ul class="list">
							<li>
								<a class="active" href="#">
									<span>Category</span> : Household</a>
							</li>
							<li>
								<a href="#">
									<span>Availibility</span> : In Stock</a>
							</li>
						</ul>
						<p>Mill Oil is an innovative oil filled radiator with the most modern technology. If you are looking for something that
							can make your interior look awesome, and at the same time give you the pleasant warm feeling during the winter.</p>

						<div class="card_area">
							<a class="main_btn" href="#">Premio Canjeado</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> --}}
	<!--================End Single Product Area =================-->

<div class="container-premdio" style="padding-top: 160px;">
    <div class="title-prize" style="
        background: #f8f8f8;
        padding: 10px;
        display: flex;
        align-items: center;
        width: 90%;
        margin: 0 auto;
    ">
    <a href="https://pixie-puntos.herokuapp.com/" style="text-decoration: none;">
        <img src="https://res.cloudinary.com/dshkfooas/image/upload/v1601011061/favicon_pgfcpi.png" alt="">
        <span style="
            padding-left: 10px;
            {{!-- font-family: "Roboto", sans-serif; --}}
            font-size: 24px;
            line-height: 36px;
            color: #222222;
            font-weight: bold;
        ">PIXIE</span>
    </a>
    </div>
    <h2 style="
        width: 90%;
        margin: 0 auto;
        padding: 20px;
    ">Detalles de Premio</h2>
    <div class="section" style="
        max-width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 3rem;
        padding-top: 20px;
    ">
        <div class="col-img">
            <div class="container-img" style="text-align: center;">
                <img class="" style="width: 70%;" src="/users/img/product/single-product/s-product-1.jpg" alt="First slide">
            </div>
        </div>
        <div class="col-info" style="
                display: flex;
                flex-direction: column;
                justify-content: center;
            ">
            <div class="container-info">
                <h3 style="
                    font-size: 24px;
                    font-weight: 500;
                    color: #222222;
                    margin-bottom: 10px;
                ">Faded SkyBlu Denim Jeans</h3>
                <h2 style="
                    font-size: 24px;
                    font-weight: bold;
                    color: #1641ff;
                    margin-bottom: 15px;
                ">$149.99</h2>
                <ul class="list" style="
                    list-style: none;
                    margin: 0px;
                    padding: 12px 0px;
                ">
                    <li>
                        <a class="active" href="#" style="color: #1641ff;">
                            <span style="olor: #555;">Categoria</span> : Household</a>
                    </li>
                    <li>
                        <a href="#" style="color: #1641ff;">
                            <span style="olor: #555;">Puntos</span> : In Stock</a>
                    </li>
                    <li>
                        <a href="#" style="color: #1641ff;">
                            <span style="olor: #555;">Precio</span> : $ 1000</a>
                    </li>
                        <a href="#" style="color: #1641ff;">
                            <span style="olor: #555;">Descripción</span> : $ 1000</a>
                    </li>
                </ul>

                <div class="card_area">
                    <a class="main_btns" href="#" style="
                        line-height: 38px;
                        padding: 0px 38px;
                        text-transform: uppercase;
                        margin-right: 10px;
                        display: inline-block;
                        background: #1641ff;
                        padding: 0px 30px;
                        color: #fff;

                        font-size: 14px;
                        font-weight: 500;
                        line-height: 48px;
                        border: 1px solid #1641ff;
                        border-radius: 0px;
                        outline: none !important;
                        box-shadow: none !important;
                        text-align: center;
                        border: 1px solid #1641ff;
                        cursor: pointer;
                        transition: all 300ms linear 0s;
                        border-radius: 5px;

                    ">Premio Canjeado</a>
                </div>
            </div>
        </div>
    </div>
</div>